<div class="modal fade" [id]="'Dialog_'+ CategorySlug + '_SendMailModal'" tabindex="-1" [attr.aria-labelledby]="'#Dialog_'+ CategorySlug + '_SendMailModalLabel'" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" [id]="'Dialog_'+ CategorySlug + '_SendMailModalLabel'">Sending Catalog By Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #EmailForm="ngForm" name="sendCatalogByEmailForm" (ngSubmit)="OnSubmit(EmailForm)" class="needs-validation">
                <div class="modal-body">
                    <div class="row pb-2">
                        <label class="form-label col-sm-4" for="CatalogType">Price list</label>
                        <div class="col-sm-8">
                            <select (change)="OnChange($event)" ngModel name="CatalogType" #CatalogType="ngModel" id="CatalogType" class="form-select"
                                    [disabled]="SendingEmail" required>
                                <option value="0">{{CategoryName}} Fob China</option>
                                <option value="0_1">{{CategoryName}} Fob China + Fob WH</option>
                                <option value="1_2">{{CategoryName}} Sacramento WH + Special</option>
                                <option value="L">{{CategoryName}} Calculator to door land cost</option>
                                <!--<option value="1">All price lists</option>-->
                            </select>
                            <div class="invalid-feedback" *ngIf="CatalogType.touched && CatalogType.invalid">Please select price list.</div>
                        </div>
                    </div>
                    <div class="row pb-2" [hidden]="!IsLandedPriceSelected">
                        <label class="form-label col-sm-4" for="CustomerName">Cost:</label>
                        <div class="col-sm-8">
                            <input ngModel min="1" max="99999999" type="number" name="Cost" #Cost="ngModel" class="form-control" id="Cost" pattern="[0-9]+"
                                   [required]="IsLandedPriceSelected" [disabled]="SendingEmail"/>
                            <div class="invalid-feedback" *ngIf="Cost.touched && Cost.invalid">
                                <div *ngIf="Cost.errors?.['required']">Please input cost.</div>
                                <div *ngIf="Cost.errors?.['max']">cost should be less than 99999999.</div>
                                <div *ngIf="Cost.errors?.['min']">cost should be more than 1.</div>
                                <div *ngIf="Cost.errors?.['pattern']">Cost is not valid. Valid format is just digits without point</div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <label class="form-label col-sm-4" for="CustomerName">Customer name:</label>
                        <div class="col-sm-8">
                            <input ngModel maxlength="100" name="CustomerFullName" #CustomerFullName="ngModel"  class="form-control" id="CustomerName" type="text"
                                   [disabled]="SendingEmail" required/>
                            <div class="invalid-feedback" *ngIf="CustomerFullName.touched && CustomerFullName.invalid">
                                <div *ngIf="CustomerFullName.errors?.['required']">Please input customer name.</div>
                                <div *ngIf="CustomerFullName.errors?.['maxlength']">Customer name should be less than 100 character.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <label class="form-label col-sm-4" for="CustomerEmail">Customer email:</label>
                        <div class="col-sm-8">
                            <input ngModel maxlength="150" name="CustomerEmail" #CustomerEmail="ngModel" placeholder="name@example.com" class="form-control" id="CustomerEmail" type="email"
                                   [disabled]="SendingEmail" email required/>
                            <div class="invalid-feedback" *ngIf="CustomerEmail.touched && CustomerEmail.invalid">
                                <div *ngIf="CustomerEmail.errors?.['required']">Please input customer email.</div>
                                <div *ngIf="CustomerEmail.errors?.['maxlength']">Customer email should be less than {{CustomerEmail.errors?.['maxlength'].requiredLength}} character.</div>
                                <div *ngIf="CustomerEmail.errors?.['email']">Customer email is not valid.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #ModelCloseButton>Close</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!EmailForm.valid" [hidden]="SendingEmail">Send Mail</button>
                    <button class="btn btn-primary" type="button" disabled [hidden]="!SendingEmail" >
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Sending...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>