<div class="table-responsive SmallFontSize">
    <table class="table table-hover table-bordered table-striped mb-0">
        <thead>
        <tr class="Header">
            <th rowspan="2" scope="col">Item Number</th>
            <th rowspan="2" scope="col">Description</th>
            <ng-container *ngFor="let PriceIndex of ProductPricesIndex"><th rowspan="2" scope="col" *ngIf="ThereIsAtLeastAProductWhichHasPermission(getPriceHeaderName(PriceIndex))">{{getPriceHeaderName(PriceIndex)}}</th></ng-container>
            <th scope="col" *ngIf="ThereIsAtLeastAProductWhichHasPermission('LandedPrice')">Container/TruckLoad</th>
            <th rowspan="2" scope="col">Cube</th>
            <th colspan="3" scope="col">Item Dimensions (in)</th>
            <th rowspan="2" scope="col">Weight (lbs)</th>
            <th colspan="3" scope="col">Box Dimensions (in)</th>

        </tr>
        <tr class="Header">
            <th scope="col" *ngIf="ThereIsAtLeastAProductWhichHasPermission('LandedPrice')">Freight <input (input)="OnCostChange($event)" type="number" min="0" max="99999999" pattern="[0-9]+"/></th>
            <th scope="col">Width</th>
            <th scope="col">Depth</th>
            <th scope="col">Height</th>
            <th scope="col">Width</th>
            <th scope="col">Depth</th>
            <th scope="col">Height</th>
        </tr>
        </thead>
        <tbody>
        <tr></tr>
        <ng-container *ngFor="let product of products;let idx = index">
            <tr>
                <td scope="row">{{product.Name}}</td>
                <td>{{product.Description}}</td>
                <ng-container *ngFor="let PriceIndex of ProductPricesIndex">
                    <td *ngIf="ThereIsAtLeastAProductWhichHasPermission(getPriceHeaderName(PriceIndex))">
                        <span *ngIf="account.HasPermissionToShowPrice(product.PricePermissions,product.Prices[PriceIndex].Name)">
                            {{GetPriceFormat(product.Prices[PriceIndex].Value)}}
                        </span>
                    </td>
                </ng-container>
                <td style="background-color: #fbf1cc" *ngIf="ThereIsAtLeastAProductWhichHasPermission('LandedPrice')">
                    <span *ngIf="account.HasPermissionToShowPrice(product.PricePermissions,'LandedPrice')">
                        {{GetPriceFormat(LandedPrices[idx])}}
                    </span>
                </td>
                <td>{{product.Cube}}</td>
                <td>{{product.W}}</td>
                <td>{{product.D}}</td>
                <td>{{product.H}}</td>
                <td>{{product.Weight}}</td>
                <td>{{product.BoxW}}</td>
                <td>{{product.BoxD}}</td>
                <td>{{product.BoxH}}</td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>
