<div class="row" *ngIf="IfThereIsNoMenuTOShowThenVerticalMenuMustBeHidden()">
    <div class="col-12">
        <div #VerticalMenuHeaderElement></div>
        <hr/>
        <div class="list-group" *ngFor="let Link of Menu.Links">
            <a class="list-group-item list-group-item-action"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="Link.Url" *ngIf="NeedsPermission(Link)">{{Link.Title}}</a>
        </div>
    </div>
</div>
