<div *ngIf="IsImageDialogBoxNeeded" id="ImageDialog" [hidden]="!IsImageDialogVisible" class="position-fixed"
     ClickedOutside (OnClickedOutside) = "OnClickOutSideOfImageDialog()"
     style="border:none;border-radius: 5px;background-color: #fff; top:50%;left:50%;z-index:99999; padding: 5px;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);transform: translate(-50%, -50%);">
    <img [src]="ImageDialogUrl" style="max-width: 90vw;max-height: 90vh;height: auto;border-radius: 8px;border:none;" />
    
</div>
<ng-container *ngIf="ShowPaging">
    <div class="row mt-3">
        <div class="col-12 col-xl-2 lead pb-3">{{MakeInfoAboutCountOfItems()}}</div>
        <div class="col-sm-12 col-md-10 col-xl-8 text-center">
            <nav aria-label="Page navigation example" class="d-inline-block">
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled':GetPrev() === -1}">
                        <a class="page-link pager-button" (click)="MoveToPage(GetPrev())"
                           [routerLink]="[PagerBaseLink]"
                           [queryParams]="CreateQueryParameter(GetPrev() + 1)"
                           aria-label="Previous">
                            <span aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"
                                     style="transform:scale(-1,1);" fill="currentColor" class="bi bi-caret-right-fill">
                                    <path d="M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z"/>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="{'active':CheckForActive(PageIndex)}"
                        *ngFor="let PageIndex of GetPagesIndex()">
                        <a class="page-link pager-button" (click)="MoveToPage(PageIndex)"
                           [routerLink]="[PagerBaseLink]"
                           [queryParams]="CreateQueryParameter(PageIndex + 1)">{{(PageIndex + 1)}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled':GetNext() === -1}">
                        <a class="page-link pager-button" (click)="MoveToPage(GetNext())"
                           [routerLink]="[PagerBaseLink]"
                           [queryParams]="CreateQueryParameter(GetNext() + 1)"
                           aria-label="Next">
                            <span aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"
                                     fill="currentColor" class="bi bi-caret-right-fill">
                                    <path d="M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z"/>
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="d-none d-md-block col-2" style="text-align: right;">
            <a (click)="ChangeGridStyle(Data.GridStyle[0])"
               [routerLink]="[PagerBaseLink]"
               [queryParams]="CreateQueryParameter(CurrentPageIndex + 1, Data.GridStyle[0])">
                <svg class="grid-style-button" enable-background="new 0 0 32 32" height="32px" id="Layer_1"
                     version="1.1" viewBox="0 0 32 32" width="26px" xml:space="preserve"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="grid-2"><path d="M10.246,4.228c0-0.547-0.443-0.991-0.99-0.991H3.914c-0.548,0-0.991,0.443-0.991,0.991V9.57   c0,0.546,0.443,0.99,0.991,0.99h5.342c0.547,0,0.99-0.444,0.99-0.99V4.228z" fill="#515151"/>
                    <path d="M19.453,4.228c0-0.547-0.443-0.991-0.991-0.991h-5.343c-0.546,0-0.99,0.443-0.99,0.991V9.57   c0,0.546,0.444,0.99,0.99,0.99h5.343c0.548,0,0.991-0.444,0.991-0.99V4.228z"
                          fill="#515151"/>
                    <path d="M28.868,4.228c0-0.547-0.443-0.991-0.99-0.991h-5.342c-0.548,0-0.991,0.443-0.991,0.991V9.57   c0,0.546,0.443,0.99,0.991,0.99h5.342c0.547,0,0.99-0.444,0.99-0.99V4.228z"
                          fill="#515151"/>
                    <path d="M10.246,13.224c0-0.547-0.443-0.99-0.99-0.99H3.914c-0.548,0-0.991,0.443-0.991,0.99v5.342   c0,0.549,0.443,0.99,0.991,0.99h5.342c0.547,0,0.99-0.441,0.99-0.99V13.224z"
                          fill="#515151"/>
                    <path d="M19.453,13.224c0-0.547-0.443-0.99-0.991-0.99h-5.343c-0.546,0-0.99,0.443-0.99,0.99v5.342   c0,0.549,0.444,0.99,0.99,0.99h5.343c0.548,0,0.991-0.441,0.991-0.99V13.224z"
                          fill="#515151"/>
                    <path d="M28.868,13.224c0-0.547-0.443-0.99-0.99-0.99h-5.342c-0.548,0-0.991,0.443-0.991,0.99v5.342   c0,0.549,0.443,0.99,0.991,0.99h5.342c0.547,0,0.99-0.441,0.99-0.99V13.224z"
                          fill="#515151"/>
                    <path d="M10.246,22.43c0-0.545-0.443-0.99-0.99-0.99H3.914c-0.548,0-0.991,0.445-0.991,0.99v5.344   c0,0.547,0.443,0.99,0.991,0.99h5.342c0.547,0,0.99-0.443,0.99-0.99V22.43z"
                          fill="#515151"/>
                    <path d="M19.453,22.43c0-0.545-0.443-0.99-0.991-0.99h-5.343c-0.546,0-0.99,0.445-0.99,0.99v5.344   c0,0.547,0.444,0.99,0.99,0.99h5.343c0.548,0,0.991-0.443,0.991-0.99V22.43z"
                          fill="#515151"/>
                    <path d="M28.868,22.43c0-0.545-0.443-0.99-0.99-0.99h-5.342c-0.548,0-0.991,0.445-0.991,0.99v5.344   c0,0.547,0.443,0.99,0.991,0.99h5.342c0.547,0,0.99-0.443,0.99-0.99V22.43z"
                          fill="#515151"/></g></svg>
            </a>

            <a (click)="ChangeGridStyle(Data.GridStyle[1])"
               [routerLink]="[PagerBaseLink]"
               [queryParams]="CreateQueryParameter(CurrentPageIndex + 1,Data.GridStyle[1])">
                <svg class="grid-style-button" enable-background="new 0 0 32 32"
                     height="32px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M15.42,7.221c0-0.951-0.771-1.721-1.721-1.721H6.729c-0.951,0-1.721,0.771-1.721,1.721v6.103   c0,0.951,0.771,1.721,1.721,1.721h6.971c0.951,0,1.721-0.771,1.721-1.721V7.221z" fill="#515151"/><path
                        d="M27.742,7.221c0-0.951-0.77-1.721-1.721-1.721h-6.971c-0.951,0-1.721,0.771-1.721,1.721v6.103   c0,0.951,0.77,1.721,1.721,1.721h6.971c0.951,0,1.721-0.771,1.721-1.721V7.221z"
                        fill="#515151"/><path
                        d="M15.42,18.676c0-0.951-0.771-1.721-1.721-1.721H6.729c-0.951,0-1.721,0.77-1.721,1.721v6.104   c0,0.95,0.771,1.721,1.721,1.721h6.971c0.951,0,1.721-0.771,1.721-1.721V18.676z"
                        fill="#515151"/><path
                        d="M27.742,18.676c0-0.951-0.77-1.721-1.721-1.721h-6.971c-0.951,0-1.721,0.77-1.721,1.721v6.104   c0,0.95,0.77,1.721,1.721,1.721h6.971c0.951,0,1.721-0.771,1.721-1.721V18.676z"
                        fill="#515151"/></g></svg>
            </a>
        </div>
    </div>
</ng-container>
<div class="row" *ngFor="let RowCells of GridCells[CurrentPageIndex]">
    <div [class]="'pt-2 col-12 col-sm-12 col-md-' + 12 / Data.CellsPerRow " *ngFor="let Cell of RowCells"
         style="text-align: center;" (click)="OnClickLink(Cell.ImageUrl, Cell.ShowInImageDialogBox)">
        <a style="color:#000;text-decoration: none;" 
            [ngStyle]="{cursor: ((Cell.Link && Cell.Link!='' && Cell.Link!='#' && Cell.Link!='/') || (IsImageDialogBoxNeeded && Cell.ShowInImageDialogBox)) ? 'pointer' : 'default'}" 
            [routerLink]="Cell.Link" (click)="OnClickLink(Cell.ImageUrl, Cell.ShowInImageDialogBox)">            
            <ng-container *ngIf="!IsThemeCard(); else CardTheme">                
                <h5 *ngIf="IsThemeUp()" class="card-title">{{Cell.Title}}</h5>
                <img class="shadow-sm rounded  img-fluid" [src]="Cell.ImageUrl" [alt]="Cell.Alt"/>
                <h5 *ngIf="!IsThemeUp()" style="font-weight: normal;">{{Cell.Title}}</h5>
            </ng-container>
            <ng-template #CardTheme>
                <div class="card shadow-sm overflow-hidden">
                    <div class="overflow-hidden">
                        <img [src]="Cell.ImageUrl" class="card-img-top img-zoom" [alt]="Cell.Alt"
                             *ngIf="ZoomOnImageWhenMouseOver; else imgWithoutZoom">
                        <ng-template #imgWithoutZoom>
                            <img [src]="Cell.ImageUrl" class="card-img-top" [alt]="Cell.Alt">
                        </ng-template>
                    </div>
                    <ng-container *ngIf="!IsThemeShopCard(); else ShopCardTheme">
                        <div class="card-body">
                            <h5 class="card-title">{{Cell.Title}}</h5>
                            <p class="card-text" *ngIf="UseDescription; else ShortDescription">
                                {{Cell.Description != "" ? Cell.Description : "&nbsp;"}}
                            </p>
                            <ng-template #ShortDescription>
                                <p class="card-text"
                                   [ngClass]="{'AlertShortDescription':IsUseShortDescriptionAsAnAlert}"
                                   *ngIf="IsThemeCardWithDescription()">{{Cell.ShortDescription != "" ? Cell.ShortDescription : "&nbsp;"}}</p>
                            </ng-template>
                        </div>
                    </ng-container>
                    <ng-template #ShopCardTheme>
                        <div class="card-body">
                            <div>
                                <h5 class="card-title text-start float-start">{{Cell.Title}}</h5>
                                <span class="float-end small" style="color:navy;">{{Cell.Quantity}}</span>
                            </div>
                            <p style="clear: both;" class="card-text text-start"
                               [ngClass]="{'AlertShortDescription':IsUseShortDescriptionAsAnAlert}"
                               *ngIf="!UseDescription; else ShowShortDescription">
                                {{Cell.ShortDescription != "" ? Cell.ShortDescription : "&nbsp;"}}
                            </p>
                            <ng-template #ShowShortDescription>
                                <p style="clear: both;" class="card-text text-start" *ngIf="UseDescription">
                                    {{Cell.Description != "" ? Cell.Description : "&nbsp;"}}
                                </p>
                            </ng-template>
                            <h6 style="clear: both;" class="text-start"
                                [ngClass]="{'text-danger':HasMoreThanOnePrice(Cell,account)}">&nbsp;{{GetCurrentPrice(Cell,account)}}
                                <span *ngIf="HasMoreThanOnePrice(Cell,account);">&nbsp;&nbsp;
                                    <span class="text-dark text-decoration-line-through">{{GetFirstPrice(Cell,account)}}</span>
                                </span>
                            </h6>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
        </a>
    </div>
</div>
<ng-container *ngIf="ShowPaging">
    <div class="row mt-3">
        <div class="col-12 text-center">
            <nav aria-label="Page navigation example" class="d-inline-block">
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled':GetPrev() === -1}">
                        <a class="page-link pager-button" (click)="MoveToPage(GetPrev())"
                           [routerLink]="[PagerBaseLink]"
                           [queryParams]="CreateQueryParameter(GetPrev() + 1)"
                           aria-label="Previous">
                            <span aria-hidden="true">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"
                                      style="transform:scale(-1,1);" fill="currentColor" class="bi bi-caret-right-fill">
                                    <path d="M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z"/>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="{'active':CheckForActive(PageIndex)}"
                        *ngFor="let PageIndex of GetPagesIndex()">
                        <a class="page-link pager-button" (click)="MoveToPage(PageIndex)"
                           [routerLink]="[PagerBaseLink]"
                           [queryParams]="CreateQueryParameter(PageIndex + 1)">{{(PageIndex + 1)}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled':GetNext() === -1}">
                        <a class="page-link pager-button" (click)="MoveToPage(GetNext())"
                           [routerLink]="[PagerBaseLink]"
                           [queryParams]="CreateQueryParameter(GetNext() + 1)"
                           aria-label="Next">
                            <span aria-hidden="true">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"
                                      fill="currentColor" class="bi bi-caret-right-fill">
                                    <path d="M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z"/>
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</ng-container>