<ng-container *ngIf="!JustShowGroupList; else GroupListTemplate">
    <div class="container-fluid">
        <div *ngFor="let Category of SelectedCategories;let Idx = index" class="GreyBox m-4">
            <div class="bg-opacity-10 p-1 ps-2">
                <h1 class="display-6">{{Category.Name}}</h1>
            </div>
            <div class="row" *ngIf="!JustShowGroupList">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <image-slider [ShowDialogForFullScreen]="true" [SliderName]="'Slider_' + Category.Slug"
                                  [DefaultAlt]="'Kian USA ' + Category.Name + ' or products images'"
                                  [DefaultImage]="DefaultImageSlider" [Sliders]="SliderImages[Idx]"></image-slider>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                    <product-price-table [CategoryName]="Category.Name" [CategorySlug]="Category.Slug" [Category]="Category"
                                         [products]="Products[Idx]" (CurrentOrdersCreated)="OnAddOrders($event)"></product-price-table>
                    <div>
                        <!--<a [href]="GetCurrentCategoryCatalogUrl(Idx)" target="_blank"-->
                        <!--class="btn btn-light btn-outline-secondary btn-sm me-1 mb-1 SmallFontSize">Download Current</a>-->
                        <button class="btn btn-light btn-outline-secondary btn-sm me-1 mb-1 SmallFontSize" type="button"
                                data-bs-toggle="modal"
                                [hidden]="!account.HasPermissionToButton('DownloadCat')"
                                [attr.data-bs-target]="'#Dialog_'+ Category.Slug + '_DownloadModal'">
                            Download Current
                        </button>
                        <!--<a [href]="GetAllCategoryCatalogUrl()" target="_blank"-->
                           <!--class="btn btn-light btn-outline-secondary btn-sm me-1 mb-1 SmallFontSize">Download All</a>-->
                        <button class="btn btn-light btn-outline-primary btn-sm mb-1 SmallFontSize" type="button"
                                data-bs-toggle="modal"
                                [hidden]="!account.HasPermissionToButton('SendEmailCat')"
                                [attr.data-bs-target]="'#Dialog_'+ Category.Slug + '_SendMailModal'">
                            Send Email
                        </button>
                    </div>
                    <more-details-table [CategoryParameters]="Category.Parameters"></more-details-table>
                </div>
            </div>
            <div class="row" *ngIf="!JustShowGroupList">
                <div class="col-12">
                    <features-table [CategoryFeatures]="Category.Features"></features-table>
                </div>
                <div class="col-12">
                    <app-product-details-table [products]="Products[Idx]"
                                               [ProductPricesIndex]="ProductPricesIndex[Idx]"></app-product-details-table>
                </div>
            </div>
        </div>
        <div class="row" [ngClass]="{'LightGrayBox m-4 pt-3': !JustShowGroupList}">
            <div class="col-12">
                <group-list></group-list>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #GroupListTemplate>
    <div class="container-fluid p-2 p-sm-5 " *ngIf="JustShowGroupList">
        <div class="row">
            <div class="col-12">
                <h2 class="display-5 pt-3 pb-3">Please select the category</h2>
                <hr/>
            </div>
        </div>
        <div class="row text-end">
            <div>
                <button class="btn btn-light btn-outline-secondary btn-sm me-1 mb-1 SmallFontSize" type="button"
                        (click)="openAdvancedRequestDialogForDownloadOrEmail = 'download';AdvReqCatNeedsToReset=AdvReqCatNeedsToReset+1;"
                        data-bs-toggle="modal" [attr.data-bs-target]="'#Dialog_AdvancedRequestCatalog'"
                        [hidden]="!account.HasPermissionToButton('AdvancedDownloadCatalogs')" >
                    Advanced Download Catalog of Categories
                </button>
                <button  class="btn btn-light btn-outline-primary btn-sm me-1 mb-1 SmallFontSize" type="button"
                        data-bs-toggle="modal" [attr.data-bs-target]="'#Dialog_AdvancedRequestCatalog'"
                        [hidden]="!account.HasPermissionToButton('AdvancedSendCatalogs')"
                        (click)="openAdvancedRequestDialogForDownloadOrEmail = 'email';AdvReqCatNeedsToReset=AdvReqCatNeedsToReset+1;">
                    Advanced Send Catalog of Categories by Email
                </button>
                <button class="btn btn-light btn-outline-secondary btn-sm me-1 mb-1 SmallFontSize" type="button"
                        data-bs-toggle="modal" [attr.data-bs-target]="'#Dialog_All_Cat_DownloadModal'"
                        [hidden]="!account.HasPermissionToButton('DownloadAllCat')"
                        (click)="DownloadDialogNeedsToReset = DownloadDialogNeedsToReset + 1">
                    Download Catalog of Categories
                </button>
                <button class="btn btn-light btn-outline-primary btn-sm mb-1 SmallFontSize" type="button"
                        data-bs-toggle="modal" [attr.data-bs-target]="'#Dialog_All_Cat_SendMailModal'"
                        [hidden]="!account.HasPermissionToButton('SendEmailAllCat')"
                        (click)="EmailDialogNeedsToReset = EmailDialogNeedsToReset + 1">
                    Send Catalog of Categories by Email
                </button>
                <app-send-products-catalog-by-email-dialog [CategoryName]="'All'"
                                                           [CategorySlug]="'All_Cat'" [ResetTrigger] = "EmailDialogNeedsToReset"></app-send-products-catalog-by-email-dialog>
                <price-list-download-dialog [CategoryName]="'All'"
                                            [CategorySlug]="'All_Cat'" [ResetTrigger] = "DownloadDialogNeedsToReset"></price-list-download-dialog>
                <advanced-request-catalog [Type] = "openAdvancedRequestDialogForDownloadOrEmail" [ResetTrigger] = "AdvReqCatNeedsToReset"></advanced-request-catalog>

            </div>
        </div>
        <div class="row">
            <group-grid-filter [Categories]="Categories"></group-grid-filter>
        </div>
    </div>
</ng-template>


<!-- Full screen modal -->
<ng-container *ngFor="let Category of SelectedCategories;let Idx = index">
    <div class="modal fade" [id]="'Slider_' + Category.Slug + '_FullscreenSliderContainer'" tabindex="-1"
         [attr.aria-labelledby]="'Slider_' + Category.Slug + '_FullscreenSliderContainerLabel'"
         aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4"
                        [id]="'Slider_' + Category.Slug + '_FullscreenSliderContainerLabel'">{{Category.Name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                         style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;">
                        <div style="max-width: 1400px;" class="SlideShow-container">
                            <image-slider [SliderName]="'Slider_FullScreen_' + Category.Slug"
                                          [DefaultAlt]="'Kian USA '+Category.Name+' or product image'"
                                          [DefaultImage]="DefaultImageSlider"
                                          [Sliders]="SliderImages[Idx]"></image-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<app-shopping-cart [NewOrders]="AddOrders" ></app-shopping-cart>